html{
	background-color: #DCCCFF;
}

.azulescuro{
	background-color: #0033CC;
	width: 800px;
}

.azulclaro{
	background-color: #0099CC;
	width: 880px;
}

.cinzaclaro{
	background-color: #CCCCFF;
}

.cinza{
	background-color: gray;
}

.noticia{
	color: black;
}

div{
	color: white;
	margin: 0 auto;
	border-radius: 8px;
	padding: 10px; 
}

table, td, th{
	border: 1px solid black;
	color: black;
}