.estilo{
	color: red;
}

#titulo{
	font-size: 140%;
	height: 55px;
}

table{
	border-collapse: collapse;
}

table, th, td{
	border: 1px solid black;
}

td{
	height: 20px;
	padding: 5px;
	text-align: left;
}

#special{
	height: 1;
}